html {
  height: 100%;
  background-size: cover;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-image: url('https://img.freepik.com/free-photo/wooden-table-with-blurred-background_1134-14.jpg?size=626&ext=jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input[type=text] {
  width: 125px;
  height:20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 50%;

}


h1{
  text-align: center;
  color: dark brown;
  text-transform: uppercase;
  font-size: 250%;
  font-family: Arial;

}
h2{
  color: dark brown;
  font-size: 180%;
  font-family: sans-serif;
  text-align: center;
}


button {
color: #fff !important;
text-transform: uppercase;
font-weight: bold;
text-decoration: none;
background: url('https://img.freepik.com/free-photo/wooden-table-with-blurred-background_1134-14.jpg?size=626&ext=jpg');

border-radius: 5px;
display: inline;
border: none;
transition: all 0.4s ease 0s;
}
#one {width: 90%}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;

}
a
{  color: black;
  text-decoration: none;
  text-align: center;}
